.js-column-message {
    display: none !important;
}

.column-type-icon {
    cursor: pointer !important;
}

.column-header-temp {
    cursor: default !important;
}

.done .activity-header .icon-heart-filled {
    color: #9DCCE0 !important;
}

.filter-enabled .column-type-icon {
    color: #1DA1F2 !important;
}

.mdl .hidden .item-box {
    opacity: 0.25 !important;
}

.mdl .hidden .tweet-context {
    display: none !important;
}

.mdl .hidden .tweet-body {
    display: none !important;
}

.mdl .hidden .js-show-this-thread {
    display: none !important;
}

.ext-column .column-type-icon {
    color: #1DA1F2 !important;
}

.ext-column .chirp-container {
    height: 100% !important;
    overflow-y: scroll !important;
}

.ext-modal {
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
    z-index: 1000 !important;
    background-color: rgba(56, 68, 77, 0.9) !important;
}

.ext-media {
    display: block !important;
    max-height: 80vh !important;
    max-width: 80vw !important;
    margin: 10vh auto !important;
    border-radius: 4px !important;
}
