.send-notice-enabled .column-type-icon {
    color: #1DA1F2 !important;
}

.send-notice-enabled .done .activity-header .icon-heart-filled {
    color: #9DCCE0 !important;
}

.send-notice-btn {
    background: #EAFDEA !important;
}
