.store-notice-enabled .column-type-icon {
    color: #1DA1F2 !important;
}

.stream-item[stored] .activity-header .icon-heart-filled {
    color: #9DCCE0 !important;
}

.store-notice-btn {
    background: #EAFDEA !important;
}
