.js-column-message {
    display: none !important;
}

.column-type-icon {
    cursor: pointer !important;
}

.column-header-temp {
    cursor: default !important;
}

.send-notice-enabled .column-type-icon {
    color: #1DA1F2 !important;
}

.done .activity-header .icon-heart-filled {
    color: #9DCCE0 !important;
}

.filter-enabled .column-type-icon {
    color: #1DA1F2 !important;
}

.filter-enabled .hidden .item-box {
    opacity: 0.25 !important;
}

.filter-enabled .hidden .tweet-context {
    display: none !important;
}

.filter-enabled .hidden .tweet-body {
    display: none !important;
}

.filter-enabled .hidden .js-show-this-thread {
    display: none !important;
}

.send-notice-btn, .customize-btn {
    background: #EAFDEA !important;
}

.ext-column .column-type-icon {
    color: #1DA1F2 !important;
}

.ext-column .chirp-container {
    height: 100% !important;
    overflow-y: scroll !important;
}

.ext-media {
    vertical-align: middle;
    max-height: 80vh;
    max-width: 80vw;
    border-radius: 8px;
}

.ext-setting-modal {
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    padding: 20px 20px 15px 20px;
    border-radius: 14px;
    background: #FFFFFF;
}

.ext-setting-item {
    display: flex;
    text-align: left;
    align-items: center;
    margin-bottom: 10px;
}

.ext-setting-item:last-child {
    margin-bottom: 15px;
}

.ext-setting-item span {
    flex-basis: 60%;
    font-size: 14px;
}

.ext-setting-item select, .ext-setting-item input {
    flex-basis: 40%;
}
